<div class="container-footer global-padding-clyde"><img src="{{ 'img_simple-dog-footer.png' | asset_url }}" loading="lazy" width="507.5" sizes="(max-width: 479px) 87vw, (max-width: 767px) 40vw, 34vw" alt="" srcset="{{ 'img_simple-dog-footer-p-500.png' | asset_url }} 500w, {{ 'img_simple-dog-footer-p-800.png' | asset_url }} 800w, {{ 'img_simple-dog-footer.png' | asset_url }} 1015w" class="img_footer-dog">
<div class="w-layout-vflex wrap_footer-content"><div id="w-node-_0d440871-954a-5c2c-b979-de99e8b11598-cf39daf1" class="footer-logo"><img src="{{ 'logo1_RGB_300Dpi.png' | asset_url }}" loading="lazy" width="380" alt="" class="img_footer-logo">
<a href="#" class="cta_button footer w-button">Try Now!</a></div><div id="w-node-_0d440871-954a-5c2c-b979-de99e8b1159c-cf39daf1" class="footer-links"><div class="footer_link-group"><div class="links"><div class="link-footer">Privacy Policy</div><div class="link-footer">Terms of Service</div><div class="link-footer">Privacy Preferences</div></div><div class="links"><div class="link-footer">FAQ</div><div class="link-footer">CONTACT US</div><div class="link-footer">MY ACCOUNT</div></div></div><div class="txt_footer-fine-links">© 2024 Simple dog cafe   |   Do Not Sell My Personal Information</div></div><div class="wrap_social-media"><a href="#" class="wrap_social-link w-inline-block"><img src="{{ 'img_tik-tok_1img_tik-tok.png' | asset_url }}" loading="eager" width="56" alt="" class="icon__footer-social">
</a><a href="#" class="wrap_social-link w-inline-block"><img src="{{ 'img_twitter_1img_twitter.png' | asset_url }}" loading="lazy" width="56" alt="" class="icon__footer-social">
</a><a href="#" class="wrap_social-link w-inline-block"><img src="{{ 'img_instagram_1img_instagram.png' | asset_url }}" loading="lazy" width="56" alt="" class="icon__footer-social">
</a></div></div><div class="wrap_hero-storefront-design footer"><div class="marquee-code w-embed"><style>@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0em));
  }
}
.scroll {
  animation: scroll 30s linear infinite;
}
.reverse {
  animation-direction: reverse;
}
.marquee-image {
  -webkit-transform: translateZ(0);
}
</style></div><div class="marquee-wrap"><div class="marquee-hero scroll reverse"><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div></div><div class="marquee-hero scroll reverse"><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee_1img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div></div></div><div class="divider-group"><div class="v-divider hide-mobile-landscape"></div><div class="v-divider hide-mobile-landscape"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div></div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"section_footer","presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}