<div class="container_instafeed global-padding-clyde"><img src="{{ 'IMG_9788.png' | asset_url }}" loading="lazy" width="245" alt="" class="ig-post">
<img src="{{ 'IMG_9789.png' | asset_url }}" loading="lazy" width="245" alt="" class="ig-post">
<img src="{{ 'IMG_9790.png' | asset_url }}" loading="lazy" width="245" alt="" class="ig-post">
<img src="{{ 'IMG_9798.png' | asset_url }}" loading="lazy" width="245" alt="" class="ig-post">
<img src="{{ 'IMG_9795.png' | asset_url }}" loading="lazy" width="245" alt="" class="ig-post">
</div> {% schema %} {"tag":"div","name":"instafeed","class":"section_instafeed","presets":[{"name":"instafeed","category":"Liquify"}]} {% endschema %}