<div class="our-story global-padding-clyde">
  <div id="w-node-_69a363aa-6be1-08e9-033c-6bc79989b2a0-45b77d56" class="card_our-story">
    <div class="w-layout-vflex wrap_our-story-texts">
      <h2 class="h2_section-heading our-story">Pet Parents Please Read</h2>
      <p class="txt_paragraph our-story">
        Unlike commercial treats, our treats are not filled with preservatives and could lose freshness if not stored properly. It is ESSENTIAL that you keep your treats sealed in a dry place at all times!
      </p>
      <a href="https://simpledogcafe.com/collections/all" class="cta_button secondary w-button">Try Now!</a>
    </div>
    <div class="w-layout-vflex wrap_our-story-hero">
      <img 
        src="{{ 'img_dog-paw.png' | asset_url }}" 
        loading="eager" 
        alt="" 
        class="img_dog-paws"
      >
      <img 
        src="{{ 'img_our-story-hero.png' | asset_url }}" 
        loading="eager" 
        width="561" 
        sizes="(max-width: 479px) 83vw, (max-width: 767px) 49vw, (max-width: 991px) 30vw, 33vw" 
        alt="" 
        srcset="
          {{ 'img_our-story-hero-p-500.png' | asset_url }} 500w, 
          {{ 'img_our-story-hero-p-800.png' | asset_url }} 800w, 
          {{ 'img_our-story-hero.png' | asset_url }} 855w
        " 
        class="img_jerky-treats spin-slow-clockwise"
      >
      <div 
        class="lottie_yellow-circle" 
        data-w-id="0e7305d7-a9e3-ad05-31b0-ed135193b063" 
        data-animation-type="lottie" 
        data-src="{{ 'lottie_yellow-circle.json' | asset_url }}" 
        data-loop="1" 
        data-direction="1" 
        data-autoplay="1" 
        data-is-ix2-target="0" 
        data-renderer="svg" 
        data-default-duration="1" 
        data-duration="2"
      ></div>
    </div>
  </div>

  <div 
    id="w-node-_12fb5e5f-5124-f6fd-80b7-b7a577729e36-45b77d56" 
    class="card_our-story promo-section"
  >
    <a 
      href="https://simpledogcafe.com/collections/all" 
      class="link_card_our-story w-inline-block"
    >
      <!-- Changed the alt text to reflect new free shipping message -->
      <img 
        class="img_free-shipping-promo" 
        src="{{ 'img_free-shipping-promo.png' | asset_url }}" 
        width="651.5" 
        alt="Get free shipping with any purchase" 
        style="opacity:0" 
        sizes="(max-width: 767px) 98vw, 45vw" 
        data-w-id="d452f4ea-1b33-f867-aa78-34f4d25b0d7b" 
        loading="lazy" 
        srcset="
          {{ 'img_free-shipping-promo-p-500.png' | asset_url }} 500w, 
          {{ 'img_free-shipping-promo-p-800.png' | asset_url }} 800w, 
          {{ 'img_free-shipping-promo-p-1080.png' | asset_url }} 1080w, 
          {{ 'img_free-shipping-promo.png' | asset_url }} 1303w
        "
      >
    </a>
  </div>
</div>

{% schema %}
{
  "tag":"section",
  "name":"Our Story",
  "class":"section_our-story",
  "presets":[
    {
      "name":"Our Story",
      "category":"Liquify"
    }
  ]
}
{% endschema %}

{% comment %}
<div class="our-story global-padding-clyde"><div id="w-node-_69a363aa-6be1-08e9-033c-6bc79989b2a0-45b77d56" class="card_our-story"><div class="w-layout-vflex wrap_our-story-texts"><h2 class="h2_section-heading our-story">Pet Parents Please Read</h2><p class="txt_paragraph our-story">Unlike commercial treats, our treats are not filled with preservatives and could lose freshness if not stored properly. It is ESSENTIAL that you keep your treats sealed in a dry place at all times!</p><a href="https://simpledogcafe.com/collections/all" class="cta_button secondary w-button">Try Now!</a></div><div class="w-layout-vflex wrap_our-story-hero"><img src="{{ 'img_dog-paw.png' | asset_url }}" loading="eager" alt="" class="img_dog-paws">
<img src="{{ 'img_our-story-hero.png' | asset_url }}" loading="eager" width="561" sizes="(max-width: 479px) 83vw, (max-width: 767px) 49vw, (max-width: 991px) 30vw, 33vw" alt="" srcset="{{ 'img_our-story-hero-p-500.png' | asset_url }} 500w, {{ 'img_our-story-hero-p-800.png' | asset_url }} 800w, {{ 'img_our-story-hero.png' | asset_url }} 855w" class="img_jerky-treats spin-slow-clockwise">
<div class="lottie_yellow-circle" data-w-id="0e7305d7-a9e3-ad05-31b0-ed135193b063" data-animation-type="lottie" data-src="{{ 'lottie_yellow-circle.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1" data-duration="2"></div></div></div><div id="w-node-_12fb5e5f-5124-f6fd-80b7-b7a577729e36-45b77d56" class="card_our-story promo-section"><a href="https://simpledogcafe.com/collections/all" class="link_card_our-story w-inline-block"><img class="img_free-shipping-promo" src="{{ 'img_free-shipping-promo.png' | asset_url }}" width="651.5" alt="Get free shipping when you order 4+ Jery Treats" style="opacity:0" sizes="(max-width: 767px) 98vw, 45vw" data-w-id="d452f4ea-1b33-f867-aa78-34f4d25b0d7b" loading="lazy" srcset="{{ 'img_free-shipping-promo-p-500.png' | asset_url }} 500w, {{ 'img_free-shipping-promo-p-800.png' | asset_url }} 800w, {{ 'img_free-shipping-promo-p-1080.png' | asset_url }} 1080w, {{ 'img_free-shipping-promo.png' | asset_url }} 1303w">
</a></div></div> {% schema %} {"tag":"section","name":"Our Story","class":"section_our-story","presets":[{"name":"Our Story","category":"Liquify"}]} {% endschema %}
{% endcomment %}