<div class="our-story global-padding-clyde"><div class="card_our-story"><div class="w-layout-vflex wrap_our-story-texts"><h2 class="h2_section-heading our-story">Our Story</h2><p class="txt_paragraph our-story">Just like all Dog Moms & Dads, we only want the healthiest, most delicious snacks for our beloved pups.  After years of searching for that superior treat, our results always fell short and we realized there was only 1 option we hadn't explored... Can we make our own? <br>
<br>
A few jerky trials later and Simple Dog Café was set on a path to bring the most premium treats to you and your families dogs!  Our dogs love the, and we know yours will too! <br>
<br>
The secret is only 1 ingredient, It's That Simple. <br>
<br>
Your Founders - Aaron & Dustin <br>
Taste Testers - Milo, Pickle & Ben</p><a href="#" class="cta_button secondary w-button">Try Now!</a></div><div class="w-layout-vflex wrap_our-story-hero"><img src="{{ 'img_dog-paw.png' | asset_url }}" loading="eager" alt="" class="img_dog-paws">
<img src="{{ 'img_our-story-hero.png' | asset_url }}" loading="eager" width="561" sizes="(max-width: 479px) 83vw, (max-width: 767px) 49vw, (max-width: 991px) 30vw, 33vw" alt="" srcset="{{ 'img_our-story-hero-p-500.png' | asset_url }} 500w, {{ 'img_our-story-hero-p-800.png' | asset_url }} 800w, {{ 'img_our-story-hero.png' | asset_url }} 855w" class="img_jerky-treats spin-slow-clockwise">
<div class="lottie_yellow-circle" data-w-id="0e7305d7-a9e3-ad05-31b0-ed135193b063" data-animation-type="lottie" data-src="{{ 'lottie_yellow-circle.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1" data-duration="2"></div></div></div><div class="card_our-story how-to-make"></div></div> {% schema %} {"tag":"section","name":"our_story","class":"section_our-story","presets":[{"name":"our_story","category":"Liquify"}]} {% endschema %}