<div class="section_product-header"><div class="padding-global padding-section-small"><div class="container-large"><div class="product-header_component"><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div id="w-node-dde72f15-2dd1-3c3f-ef72-b299bc1979d2-45b77d76" class="swiper-container is-product-gallery"><div class="swiper is-product-gallery"><div id="my-gallery" class="swiper-wrapper is-product-gallery">{% for image in product.images %}    <div li-for="image in product.images" class="swiper-slide is-product-gallery">
                                    
                            <div class="product_gallery-lightbox"><img loading="lazy" li-object:src="image.src | product_img_url: 'master'" li-object:alt="image.alt" src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt }}" class="product_gallery-image">
</div>
                            
                        </div>
{% endfor %}</div></div><div class="product-header_slider-wrapper"><div class="swiper_button-wrapper is-product-slider pointer-events-off z-index-1 hide-mobile-landscape"><a href="#" class="swiper_button swiper-prev pointer-events-on w-inline-block"><div class="swiper_button-icon is-reversed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a><a href="#" class="swiper_button swiper-next pointer-events-on w-inline-block"><div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a></div><div class="swiper is-product-thumbnail"><div class="swiper-wrapper is-product-thumbnail">{% for image in product.images %}    <div li-for="image in product.images" class="swiper-slide is-product-thumbnail is-active">
                                    <img loading="lazy" li-object:src="image.src | product_img_url: 'master'" li-object:alt="image.alt" src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt }}" class="product_thumbnail-image">

                        </div>
{% endfor %}</div></div></div><div class="swiper-slide is-product-thumbnail is-active hide"></div></div><div id="w-node-_7048b639-be81-c25f-3e39-a62262971160-45b77d76" class="product-header_product-details"><h1 li-object:text="product.title" class="heading-style-h2">
{{ product.title }}
</h1><div class="img_spacer-1-5em"></div><div class="product-header_price-wrapper"><div li-object="product.price | money" li-js-price="price" class="text-size-large text-weight-bold">{{ product.price | money }}</div><template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
        <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-align-right text-style-muted">{{ product.compare_at_price | money }}</div>        </div>
    </template>
<div class="product-header_tag-list"><template x-if="selected_or_first_available_variant.available != true">
            <div li-js-if="selected_or_first_available_variant.available != true" class="product-item_tag">
        Not in Stock        </div>
    </template>
<template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price" class="product-item_tag is-red">
        Sale        </div>
    </template>
</div></div><div class="img_spacer-1-5em"></div><div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div><div class="img_spacer-1-5em"></div><div class="text-block-4">Made in USA in an Industry-Leading, Human-Grade Facility</div><div class="img_spacer-1-5em"></div><div class="product-header_add-to-cart w-form">{% form 'product', product, class: 'product-header_default-state' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option product-page" data-ProductVariantsLoop="true"><div li-element="product-options-name" class="text-block" x-text="option">Variant</div><div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'">
<span li-element="product-option-name" class="text-size-regular text-weight-semibold w-form-label" for="radio" x-text="variantName" :for="variantName">XS</span></label></template>
</div></div></template>
    </div>
{% endif %}<div class="img_spacer-1-5em"></div><div class="product-header_ad-to-cart-wrapper"><template x-if="selected_or_first_available_variant.available == true">
            <div li-js-if="selected_or_first_available_variant.available == true" class="product-header_quantity">
        <div class="fill-height"><input class="form-input is-quantity w-input" maxlength="256" name="quantity" li-element="add-to-cart-quantity" data-name="quantity" placeholder="1" type="number" id="quantity" required="" x-model="quantity">
</div><div class="button-bg"><a li-element="add-to-cart" href="#" class="button max-width-full w-button" @click="addToCart(true)" :disabled="!addToCartButton">Add to cart</a></div>        </div>
    </template>
<template x-if="selected_or_first_available_variant.available != true">
            <div li-js-if="selected_or_first_available_variant.available != true">
        <a href="#" class="button is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>        </div>
    </template>
</div>{% endform %}
<div class="out-of-stock-state w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="error-state w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div><div class="spacer-medium"></div><div class="product-benefits"><div class="product-benefit"><img src="{{ 'icon.png' | asset_url }}" loading="lazy" alt="" class="ico_product-benefit">
<div class="text_product-benefit">Single Ingredient</div></div><div class="product-benefit"><img src="{{ 'icon_1.png' | asset_url }}" loading="lazy" alt="" class="ico_product-benefit">
<div class="text_product-benefit">100% USA Beef</div></div><div class="product-benefit"><img src="{{ 'icon_2.png' | asset_url }}" loading="lazy" alt="" class="ico_product-benefit">
<div class="text_product-benefit">Free Delivery *</div></div></div><div class="spacer-medium"></div><div class="key-benefits"><div class="key-benefit"><img src="{{ 'Frame.png' | asset_url }}" loading="lazy" alt="" class="img_key-benfit">
<div class="text-block-3">A Low Fat Treat</div></div><div id="w-node-b315b707-5fa8-16f1-1975-00c6e5fa41c8-45b77d76" class="key-benefit"><img src="{{ 'icon-ruler.png' | asset_url }}" loading="lazy" alt="" class="img_key-benfit">
<div class="text-block-3">For All Size Dogs</div></div><div id="w-node-f76584aa-33a0-0ec4-17a2-d79258853ce2-45b77d76" class="key-benefit"><img src="{{ 'icon-daily.png' | asset_url }}" loading="lazy" alt="" class="img_key-benfit">
<div class="text-block-3">Made Fresh Daily</div></div><div id="w-node-_21c5d33a-3209-6ef8-ad72-9176078f603a-45b77d76" class="key-benefit"><img src="{{ 'icon-top-grade.png' | asset_url }}" loading="lazy" alt="" class="img_key-benfit">
<div class="text-block-3">Human-Grade Facility</div></div></div></div></div></div></div></div></div><section class="section_product-recommended"><div data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related" class="padding-global padding-section-medium product-recommendations"><div class="container-large"><div class="headline-wrapper"><h2 class="heading-style-h2 recommended">
{{ section.settings.text_headline }}
</h2>
</div><div class="product_list-wrapper"><ul role="list" class="product_list w-list-unstyled">{% for product in recommendations.products %}    <li li-for="product in recommendations.products" class="product_list-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </li>
{% endfor %}</ul></div></div></div></section> {% schema %} {"tag":"section","name":"product_hero","class":"section_page-content","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Recommended"}],"presets":[{"name":"product_hero","category":"Liquify"}]} {% endschema %}